.hero {
    background-image: url("/starter-code/assets/images/pattern-light-bg.svg");
    background-color: $color-neutral-100;
    width: 100%;
    height: auto;
    padding: $spacing-32 13.5rem $spacing-80;
    position: relative;
    overflow: hidden;
    z-index: 10;

    @extend %flexbox-style;

    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-80;

    &::after {
        @include blur-effect(50%, -30%);
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 54rem;
        column-gap: $spacing-64;
        align-items: center;

        &-title {
            @extend %text-preset-1;

            background: $color-gradient-text-gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: $spacing-24;
        }

        &-description {
            @extend %text-preset-5;

            color: $color-neutral-700;
            margin-bottom: $spacing-32;
        }

        &-btn {
            margin-bottom: $spacing-20;
        }

        &-reviews {
            @extend %flexbox-style;

            justify-content: start;
            align-items: center;
            gap: $spacing-12;
        }

        &-avatars {
            max-width: 11rem;
        }

        &-rating {
            img {
                width: 2.4rem;
                height: 2.4rem;
                margin-bottom: $spacing-4;
            }

            p {
                @extend %text-preset-7;

                color: $color-neutral-700;
            }
        }

        &-image {
            width: 100%;
            height: 100%;
            border-radius: $border-radius-10;
        }
    }
}

/* HACK: small mobiles (320px ~ 480px) */
/* HACK: large mobiles (481px ~ 767px) */
/* HACK: tablets (768px ~ 1024px) */

/* HACK: tablets (768px ~ 1024px) */
@media (min-width: 48em) and (max-width: 64em) {
    .hero {
        padding: $spacing-32 $spacing-32 $spacing-80;
        gap: $spacing-64;
        position: relative;
        overflow: hidden;
        z-index: 10;

        &::after {
            @include blur-effect(73%, -50%);
        }

        &__content {
            grid-template-columns: 1fr;
            row-gap: $spacing-64;

            &-title {
                letter-spacing: -1px;
            }

            &-description {
                letter-spacing: -0.2px;
            }
        }
    }
}
