.hero {
  padding: $spacing-24 $spacing-16 $spacing-80;
  margin-bottom: $spacing-64;
  background-color: $color-neutral-100;
  background-image: url("../../assets/images/pattern-light-bg.svg");
  position: relative;
  z-index: 10;
  overflow: hidden;

  &__header {
    margin-bottom: $spacing-48;
  }

  &__content {
    @extend %grid-container;
    row-gap: $spacing-64;
  }

  .content {
    &__title {
      @extend %text-preset-1-mobile;
      background: $color-gradient-text-gradient;

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: $spacing-24;
    }

    &__description {
      @extend %text-preset-5;
      margin-bottom: $spacing-32;
    }

    &__btn {
      @extend %text-preset-6-mobile;
      gap: $spacing-16;
      margin-bottom: $spacing-20;
      font-size: 1.4rem;
    }

    &__reviews {
      @extend %flexbox-style;
      justify-content: flex-start;
      gap: $spacing-12;
    }

    &__avatars {
      max-width: 11rem;
      height: auto;
    }

    &__rating {
      img {
        margin-bottom: $spacing-4;
      }
      p {
        @extend %text-preset-7;
      }
    }

    &__image {
      display: block;
      img {
        width: 100%;
        height: auto;
        border-radius: $border-radius-12;
      }
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    padding: $spacing-32 $spacing-32 $spacing-80;
    margin-bottom: $spacing-80;

    &__header {
      margin-bottom: $spacing-64;
    }

    &::after {
      @include blur-effect(75%, -47%);
    }

    .content {
      &__title {
        font-size: 6.2rem;
      }

      &__description {
        letter-spacing: 0;
      }

      &__btn {
        font-size: 1.6rem;
      }
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    padding: $spacing-32 13.5rem $spacing-80;
    margin-bottom: 12rem;

    &__header {
      margin-bottom: $spacing-80;
    }

    &::after {
      @include blur-effect(45%, -32.5%);
    }

    &__content {
      grid-template-columns: 1fr 54rem;
      column-gap: $spacing-64;
      align-items: center;
    }
  }
}
