.journey {
  &,
  &__steps {
    @extend %grid-container;
    row-gap: $spacing-24;
  }

  &__step--number,
  span {
    @extend %flexbox-style;
    flex-direction: column;
    gap: $spacing-24;
  }

  margin: 0 $spacing-16 $spacing-64;
  padding: $spacing-32 $spacing-16;
  background-color: $color-neutral-100;
  background-image: url("../../assets/images/pattern-light-bg.svg");
  border-radius: $border-radius-12;
  text-align: center;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &__title {
    @extend %text-preset-2-mobile;
  }

  &__step {
    @extend %text-preset-4-regular;
    &--number {
      flex-direction: row;
      margin-bottom: $spacing-24;
      span {
        width: 4rem;
        height: 4rem;
        box-shadow: inset 0 0 0 2px $color-neutral-900;
        border-radius: $border-radius-4;
      }
      img {
        display: none;
      }
    }
    p {
      @extend %text-preset-4;
      font-size: 2rem;
      line-height: 1.4;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .journey {
    margin: 0 $spacing-32 $spacing-80;
    padding: $spacing-48 $spacing-24;
    row-gap: $spacing-40;

    &::after {
      @include blur-effect(75%, -47%);
    }

    &__title {
      font-size: 5rem;
    }

    &__steps {
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-32;
      align-items: baseline;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .journey {
    margin: 0 13.5rem 12rem;
    padding: $spacing-80 6rem;
    row-gap: $spacing-64;

    &::after {
      @include blur-effect(34%, -27.5%);
    }

    &__steps {
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
      column-gap: $spacing-48;
      text-align: left;
    }

    &__step {
      &--number {
        justify-content: space-between;
        width: 100%;
        img {
          display: block;
        }
      }
      p {
        font-size: 1.8rem;
        line-height: 1.3;
      }
    }
  }
}
