.review {
  @extend %flexbox-style;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-32;
  padding: 0 $spacing-16;
  margin-bottom: $spacing-64;

  &__description {
    @extend %text-preset-3-mobile;
  }

  &__author {
    @extend %text-preset-5;
    color: $color-neutral-700;
  }
}

@include respond-to($breakpoint-tablets) {
  .review {
    padding: 0 $spacing-32;

    &__description {
      font-size: 3.4rem;
      line-height: 1.3;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .review {
    max-width: 97rem;
    margin: 0 auto 12rem;
    padding: 0;
    text-align: center;
    align-items: center;
  }
}
