$color-neutral-900: #062630;
$color-neutral-700: #385159;
$color-neutral-200: #e6e1df;
$color-neutral-100: #faf5f3;
$color-neutral-0: #fff;

$color-light-salmon-500: #fea36f;
$color-light-salmon-100: #ffe2d1;
$color-light-salmon-50: #fff5ef;

$color-gradient-text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
$color-gradient: linear-gradient(90deg, $color-light-salmon-100 0%, $color-light-salmon-50 100%);

$spacing-2: 0.2rem;
$spacing-4: 0.4rem;
$spacing-6: 0.6rem;
$spacing-8: 0.8rem;
$spacing-12: 1.2rem;
$spacing-16: 1.6rem;
$spacing-20: 2rem;
$spacing-24: 2.4rem;
$spacing-32: 3.2rem;
$spacing-40: 4rem;
$spacing-48: 4.8rem;
$spacing-64: 6.4rem;
$spacing-80: 8rem;

$border-radius-4: 0.4rem;
$border-radius-6: 0.6rem;
$border-radius-8: 0.8rem;
$border-radius-10: 1rem;
$border-radius-12: 1.2rem;
$border-radius-16: 1.6rem;
$border-radius-20: 2rem;
$border-radius-24: 2.4rem;
$border-radius-full: 999px;
