*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Martian Mono", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: $color-neutral-900;
}

@media (min-width: 70em) and (max-width: 84.375em) {
  html {
    font-size: 56.25%;
  }
}
