/* $breakpoint-desktops: "(min-width: 87.5em)"; */
.primary, .alternate {
  border: none;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
  text-transform: uppercase; }

.primary {
  box-shadow: inset 0 0 0 2px #062630;
  background-color: #fff5ef;
  color: #062630; }

.primary:hover {
  background: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
  cursor: pointer; }

.primary:focus {
  box-shadow: inset 0 0 0 2px #062630, 0 0 0 3px #fff, 0 0 0 5px #385159;
  outline: none; }

.alternate {
  background-color: #062630;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff; }

.alternate:focus {
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 3px #062630, 0 0 0 5px #e6e1df;
  outline: none; }

.alternate:hover {
  background: linear-gradient(90deg, #385159 0%, #062630 100%);
  cursor: pointer; }

.hero__content, .introduction__content {
  display: grid;
  grid-template-columns: 1fr; }

.primary, .alternate, .hero .content__reviews, .introduction, .introduction__text, .introduction__list, .introduction__list--item {
  display: flex;
  justify-content: center;
  align-items: center; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Martian Mono", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #062630; }

@media (min-width: 70em) and (max-width: 81.25em) {
  html {
    font-size: 56.25%; } }
.hero .content__title, .introduction__title, .primary, .alternate, .hero .content__btn, .hero .content__rating p {
  font-size: 6.2rem;
  font-weight: 700;
  font-family: "Martian Mono";
  line-height: 1.2;
  letter-spacing: -2px; }

.hero .content__title {
  font-size: 3.8rem; }

.introduction__title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.3; }

.introduction__title {
  font-size: 3.4rem; }

.introduction__description span, .hero .content__description, .introduction__list--item, .introduction__description {
  font-size: 2rem;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.5px; }

.introduction__description span {
  font-weight: 600; }

.primary, .alternate, .hero .content__btn, .hero .content__rating p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px; }

.hero .content__btn {
  font-size: 1.6rem; }

.hero .content__rating p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2; }

.main-container {
  max-width: 144rem;
  margin: 0 auto; }

.hero {
  padding: 2.4rem 1.6rem 8rem;
  margin-bottom: 6.4rem;
  background-color: #faf5f3;
  background-image: url("../../assets/images/pattern-light-bg.svg");
  position: relative;
  z-index: 10;
  overflow: hidden; }
  .hero__header {
    margin-bottom: 4.8rem; }
  .hero__content {
    row-gap: 6.4rem; }
  .hero .content__title {
    background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.4rem; }
  .hero .content__description {
    margin-bottom: 3.2rem; }
  .hero .content__btn {
    gap: 1.6rem;
    margin-bottom: 2rem;
    font-size: 1.4rem; }
  .hero .content__reviews {
    justify-content: flex-start;
    gap: 1.2rem; }
  .hero .content__avatars {
    max-width: 11rem;
    height: auto; }
  .hero .content__rating img {
    margin-bottom: 0.4rem; }
  .hero .content__image {
    display: block; }
    .hero .content__image img {
      width: 100%;
      height: auto;
      border-radius: 1.2rem; }

@media (min-width: 48em) {
  .hero {
    padding: 3.2rem 3.2rem 8rem;
    margin-bottom: 8rem; }
    .hero__header {
      margin-bottom: 6.4rem; }
    .hero::after {
      content: "";
      position: absolute;
      top: 75%;
      right: -47%;
      background-color: #9cc9da;
      filter: blur(20rem);
      width: 68.4rem;
      height: 68.4rem;
      border-radius: 50%;
      pointer-events: none;
      z-index: -1; }
    .hero .content__title {
      font-size: 6.2rem; }
    .hero .content__description {
      letter-spacing: 0; }
    .hero .content__btn {
      font-size: 1.6rem; } }
@media (min-width: 75em) {
  .hero {
    padding: 3.2rem 13.5rem 8rem;
    margin-bottom: 12rem; }
    .hero__header {
      margin-bottom: 8rem; }
    .hero::after {
      content: "";
      position: absolute;
      top: 45%;
      right: -32.5%;
      background-color: #9cc9da;
      filter: blur(20rem);
      width: 68.4rem;
      height: 68.4rem;
      border-radius: 50%;
      pointer-events: none;
      z-index: -1; }
    .hero__content {
      grid-template-columns: 1fr 54rem;
      column-gap: 6.4rem;
      align-items: center; } }
.introduction {
  gap: 6.4rem;
  padding: 0 1.6rem;
  margin-bottom: 6.4rem; }
  .introduction, .introduction__text, .introduction__list, .introduction__list--item {
    flex-direction: column;
    align-items: baseline; }
  .introduction__content {
    row-gap: 4rem; }
    .introduction__content:nth-of-type(2) {
      position: relative; }
  .introduction__text {
    gap: 2.4rem; }
  .introduction__list {
    gap: 1.6rem; }
    .introduction__list--item {
      flex-direction: row;
      align-items: center;
      list-style: none;
      gap: 1.4rem; }
  .introduction__title {
    color: #062630; }
    .introduction__title div {
      display: inline-block;
      position: relative;
      z-index: 1; }
      .introduction__title div img {
        max-width: 11rem;
        height: auto;
        position: absolute;
        top: 0;
        left: -1rem; }
  .introduction__logos {
    display: none; }
  .introduction__description {
    color: #385159; }
  .introduction__image {
    display: block; }
    .introduction__image img {
      width: 100%;
      height: auto;
      border-radius: 2rem; }

@media (min-width: 48em) {
  .introduction {
    gap: 8rem;
    margin-bottom: 8rem;
    padding: 0 3.2rem; }
    .introduction__content:first-of-type .introduction__text {
      gap: 0; }
    .introduction__content:first-of-type .introduction__title {
      margin-bottom: 3.4rem; }
    .introduction__logos {
      display: block;
      position: absolute;
      bottom: 5rem;
      right: 5rem;
      width: 12rem;
      height: 13.8rem;
      z-index: 1; }
    .introduction__title {
      font-size: 5rem;
      text-wrap: balance; }
      .introduction__title div img {
        max-width: 16rem; }
    .introduction__list {
      gap: 2.4rem; } }
@media (min-width: 75em) {
  .introduction {
    gap: 12rem;
    margin-bottom: 12rem;
    padding: 0 13.5rem; }
    .introduction__content {
      grid-template-columns: 1fr 1fr;
      column-gap: 8rem; }
      .introduction__content:first-of-type .introduction__image {
        grid-row: 1;
        grid-column: 1 / 2; }
    .introduction__image {
      width: 56rem; }
    .introduction__logos {
      left: 50%;
      transform: translateX(-45%);
      bottom: 3.1rem; } }
/* .introduction { */
/*     @extend %flexbox-style; */
/**/
/*     flex-direction: column; */
/*     gap: 12rem; */
/*     padding: 12rem 13.5rem; */
/**/
/*     &__content { */
/*         @extend %grid-container; */
/**/
/*         grid-template-columns: 1fr 1fr; */
/*         column-gap: $spacing-80; */
/*         position: relative; */
/*     } */
/**/
/*     &__image { */
/*         max-width: 100%; */
/*         border-radius: 2rem; */
/*     } */
/**/
/*     &__text { */
/*         h2 { */
/*             margin-bottom: 3.4rem; */
/*         } */
/**/
/*         h3 { */
/*             margin-bottom: 2.4rem; */
/*         } */
/*     } */
/**/
/*     &__title { */
/*         @extend %text-preset-2; */
/**/
/*         color: $color-neutral-900; */
/**/
/*         div { */
/*             display: inline-block; */
/*             position: relative; */
/*             z-index: 1; */
/**/
/*             img { */
/*                 width: 16rem; */
/*                 height: 6rem; */
/*                 display: inline; */
/*                 position: absolute; */
/*                 top: 0; */
/*                 left: -1.7rem; */
/*             } */
/*         } */
/*     } */
/**/
/*     &__list { */
/*         @extend %flexbox-style; */
/**/
/*         flex-direction: column; */
/*         align-items: baseline; */
/*         gap: $spacing-24; */
/*         list-style: none; */
/**/
/*         &--item { */
/*             @extend %text-preset-5; */
/**/
/*             @extend %flexbox-style; */
/**/
/*             gap: 1.4rem; */
/*             color: $color-neutral-700; */
/*             max-width: 43.1rem; */
/*         } */
/*     } */
/**/
/*     &__description { */
/*         @extend %text-preset-5; */
/**/
/*         color: $color-neutral-700; */
/*         max-width: 52rem; */
/**/
/*         span { */
/*             @extend %text-preset-5-semibold; */
/*         } */
/*     } */
/**/
/*     &__logos { */
/*         position: absolute; */
/*         bottom: 2rem; */
/*         left: 49%; */
/*         transform: translateX(-24%); */
/*     } */
/* } */
/**/
/* @include respond-to($breakpoint-small-mobiles) { */
/*     .introduction { */
/*         padding: $spacing-64 $spacing-16; */
/*         gap: $spacing-64; */
/**/
/*         &__content { */
/*             grid-template-columns: 1fr; */
/*             row-gap: 4rem; */
/**/
/*             &:nth-child(1) div { */
/*                 grid-row: 1 / 2; */
/*             } */
/*         } */
/**/
/*         &__title { */
/*             font-size: 3.4rem; */
/**/
/*             div { */
/*                 img { */
/*                     width: 11rem; */
/*                     height: auto; */
/*                 } */
/*             } */
/*         } */
/**/
/*         &__description { */
/*             max-width: 34rem; */
/*         } */
/**/
/*         h2, h3 { */
/*             margin-bottom: $spacing-24; */
/*         } */
/**/
/*         &__image { */
/*             max-width: 100%; */
/*         } */
/**/
/*         &__list { */
/*             gap: $spacing-16; */
/*         } */
/**/
/*         &__logos { */
/*             display: none; */
/*         } */
/*     } */
/* } */
/**/
/**/
/* @include respond-to($breakpoint-large-mobiles) { */
/*     .introduction { */
/*         padding: $spacing-32 $spacing-32 $spacing-48; */
/*         gap: $spacing-48; */
/**/
/*         &__content { */
/*             grid-template-columns: 1fr; */
/*             row-gap: $spacing-64; */
/**/
/*             &:nth-child(1) div { */
/*                 grid-row: 1 / 2; */
/*             } */
/*         } */
/**/
/*         &__image { */
/*             max-width: 100%; */
/*         } */
/**/
/*         &__list { */
/*             &--item { */
/*                 max-width: 100%; */
/*             } */
/*         } */
/**/
/*         &__description { */
/*             max-width: 100%; */
/*         } */
/**/
/*         &__logos { */
/*             display: none; */
/*         } */
/*     } */
/* } */
/**/
/**/
/* @include respond-to($breakpoint-tablets) { */
/*     .introduction { */
/*         padding: $spacing-80 $spacing-32; */
/*         gap: $spacing-80; */
/**/
/*         &__content { */
/*             grid-template-columns: 1fr; */
/*             row-gap: 4rem; */
/**/
/*             &:nth-child(1) div { */
/*                 grid-row: 1 / 2; */
/*             } */
/*         } */
/**/
/*         &__image { */
/*             max-width: 100%; */
/*         } */
/**/
/*         &__title { */
/*             max-width: calc(100vw - 9.6rem); */
/*         } */
/**/
/*         &__list { */
/*             &--item { */
/*                 max-width: 100%; */
/*             } */
/*         } */
/**/
/*         &__description { */
/*             max-width: 100%; */
/*         } */
/**/
/*         &__logos { */
/*             position: absolute; */
/*             bottom: 4rem; */
/*             right: 4rem; */
/*             transform: translateX(0); */
/*             left: auto; */
/*         } */
/*     } */
/* } */
/**/
/**/
/* @include respond-to($breakpoint-large-tablets) { */
/*     .introduction { */
/*         padding: $spacing-64 $spacing-48; */
/*         gap: $spacing-64; */
/**/
/*         &__content { */
/*             grid-template-columns: 1fr 1fr; */
/*             row-gap: $spacing-64; */
/*         } */
/**/
/*         &__list { */
/*             &--item { */
/*                 max-width: 100%; */
/*             } */
/*         } */
/*     } */
/* } */
/**/
/**/
/* //* HACK  (1266px ~ 1371px) */
/* @media (min-width: 79.125em) and (max-width: 85.69em) { */
/*     .introduction { */
/*         &__content { */
/*             grid-template-columns: 1fr 1fr; */
/*             column-gap: $spacing-64; */
/*         } */
/*     } */
/* } */
/* .journey { */
/*   margin: 0 13.5rem 12rem; */
/*   background-image: url("../assets/images/pattern-light-bg.svg"); */
/*   background-color: $color-neutral-100; */
/*   padding: $spacing-80 0; */
/*   position: relative; */
/*   z-index: 10; */
/*   overflow: hidden; */
/*   border-radius: $border-radius-12; */
/**/
/*   @extend %flexbox-style; */
/**/
/*   flex-direction: column; */
/*   gap: $spacing-64; */
/**/
/*   &::after { */
/*     @include blur-effect(32%, -28%); */
/*   } */
/**/
/*   header { */
/*     max-width: 51.2rem; */
/*     text-align: center; */
/*   } */
/**/
/*   &__title { */
/*     @extend %text-preset-2; */
/**/
/*     line-height: 1.2; */
/*     letter-spacing: -0.4rem; */
/*   } */
/**/
/*   &__steps { */
/*     @extend %grid-container; */
/**/
/*     grid-template-columns: repeat(4, 22.6rem); */
/*     column-gap: $spacing-48; */
/*   } */
/**/
/*   &__step { */
/*     @extend %text-preset-4-regular; */
/**/
/*     &--number { */
/*       span, */
/*       img { */
/*         display: inline-block; */
/*       } */
/**/
/*       span { */
/*         line-height: 1; */
/*         color: $color-neutral-900; */
/*         box-shadow: inset 0 0 0 2px $color-neutral-900; */
/*         width: 4rem; */
/*         height: 4rem; */
/*         border-radius: $border-radius-4; */
/*         text-align: center; */
/*         padding: 0.8rem 0.4rem; */
/*       } */
/**/
/*       @extend %flexbox-style; */
/**/
/*       max-width: 100%; */
/*       justify-content: space-between; */
/*       margin-bottom: $spacing-24; */
/*     } */
/**/
/*     p { */
/*       @extend %text-preset-6; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-small-mobiles) { */
/*   .journey { */
/*     margin: 0 $spacing-16 $spacing-64; */
/*     padding: $spacing-48 $spacing-32; */
/*     gap: $spacing-48; */
/**/
/*     &::after { */
/*       @include blur-effect(100%, 100%); */
/*     } */
/**/
/*     header { */
/*       max-width: 100%; */
/*     } */
/**/
/*     &__title { */
/*       font-size: 3.8rem; */
/*       letter-spacing: -0.2rem; */
/*     } */
/**/
/*     &__steps { */
/*       grid-template-columns: 1fr; */
/*       row-gap: $spacing-32; */
/*     } */
/**/
/*     &__step { */
/*       justify-items: center; */
/**/
/*       p { */
/*         justify-self: start; */
/*       } */
/**/
/*       &--number { */
/*         img { */
/*           display: none; */
/*         } */
/*       } */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-large-mobiles) { */
/*   .journey { */
/*     margin: $spacing-32 $spacing-24; */
/*     padding: $spacing-32 $spacing-24; */
/*     gap: $spacing-48; */
/**/
/*     &::after { */
/*       @include blur-effect(100%, 100%); */
/*     } */
/**/
/*     header { */
/*       max-width: 100%; */
/*     } */
/**/
/*     &__title { */
/*       font-size: 4.2rem; */
/*       letter-spacing: -0.2rem; */
/*     } */
/**/
/*     &__steps { */
/*       grid-template-columns: 1fr 1fr; */
/*       gap: $spacing-32; */
/*     } */
/**/
/*     &__step { */
/*       p { */
/*         font-size: 1.6rem; */
/*       } */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-tablets) { */
/*   .journey { */
/*     margin: $spacing-32 $spacing-32 $spacing-80; */
/*     padding: $spacing-48 $spacing-32; */
/*     gap: $spacing-48; */
/**/
/*     &::after { */
/*       @include blur-effect(53%, -33%); */
/*     } */
/**/
/*     &__steps { */
/*       grid-template-columns: repeat(2, 1fr); */
/*       column-gap: $spacing-64; */
/*       row-gap: $spacing-48; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-large-tablets) { */
/*   .journey { */
/*     margin: $spacing-64 $spacing-48 $spacing-80; */
/*     padding: $spacing-64 $spacing-48; */
/**/
/*     &::after { */
/*       @include blur-effect(50%, -33%); */
/*     } */
/**/
/*     &__steps { */
/*       grid-template-columns: repeat(3, 1fr); */
/*       column-gap: $spacing-80; */
/*       row-gap: $spacing-64; */
/*     } */
/*   } */
/* } */
/* .pricing { */
/*   max-width: 97rem; */
/*   margin: 0 auto 12rem; */
/**/
/*   @extend %flexbox-style; */
/**/
/*   flex-direction: column; */
/*   gap: $spacing-64; */
/**/
/*   &__header { */
/*     @extend %text-preset-2; */
/**/
/*     color: $color-neutral-900; */
/*   } */
/**/
/*   &__options { */
/*     @extend %grid-container; */
/**/
/*     grid-template-columns: 28.6rem 35rem 28.6rem; */
/*     column-gap: $spacing-24; */
/*   } */
/**/
/*   &__option { */
/*     @extend %flexbox-style; */
/**/
/*     flex-direction: column; */
/*     align-items: baseline; */
/*     box-shadow: inset 0 0 0 1px $color-neutral-200; */
/*     border-radius: $border-radius-8; */
/*     gap: 2.4rem; */
/*     position: relative; */
/*     overflow: hidden; */
/*     z-index: 10; */
/**/
/*     &:nth-child(2) { */
/*       background-color: $color-neutral-100; */
/*       z-index: 1; */
/**/
/*       &::after { */
/*         @include blur-effect(49%, -105%); */
/*       } */
/*     } */
/**/
/*     &--starter, */
/*     &--enterprise { */
/*       padding: $spacing-24; */
/*     } */
/**/
/*     &--pro { */
/*       padding: 4rem $spacing-24; */
/*     } */
/**/
/*     &--title { */
/*       @extend %text-preset-4; */
/**/
/*       color: $color-neutral-900; */
/*     } */
/**/
/*     &--price { */
/*       @extend %text-preset-3; */
/**/
/*       color: $color-neutral-900; */
/**/
/*       span { */
/*         @extend %text-preset-5; */
/**/
/*         color: $color-neutral-700; */
/*       } */
/*     } */
/**/
/*     hr { */
/*       width: 100%; */
/*       border: 1px solid $color-neutral-200; */
/*     } */
/**/
/*     &--list { */
/*       @extend %flexbox-style; */
/**/
/*       flex-direction: column; */
/*       align-items: baseline; */
/*       gap: $spacing-16; */
/*       margin-bottom: 0.8rem; */
/*       list-style: none; */
/**/
/*       &-item { */
/*         @extend %text-preset-5; */
/**/
/*         @extend %flexbox-style; */
/**/
/*         gap: $spacing-12; */
/*         color: $color-neutral-700; */
/*       } */
/*     } */
/**/
/*     &--btn { */
/*       width: 100%; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-small-mobiles) { */
/*   .pricing { */
/*     margin: 0 auto $spacing-64; */
/*     padding: 0 $spacing-16; */
/*     gap: $spacing-24; */
/*     align-items: stretch; */
/**/
/*     &__options { */
/*       grid-template-columns: 1fr; */
/*       row-gap: $spacing-24; */
/*     } */
/**/
/*     &__option { */
/*       &--pro { */
/*         padding: $spacing-24; */
/*       } */
/*     } */
/**/
/*     &__header { */
/*       font-size: 3.4rem; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-large-mobiles) { */
/*   .pricing { */
/*     margin: 0 auto $spacing-64; */
/*     padding: 0 $spacing-24; */
/*     gap: 4rem; */
/*     align-items: stretch; */
/**/
/*     &__header { */
/*       text-align: center; */
/*     } */
/**/
/*     &__options { */
/*       grid-template-columns: 0.75fr; */
/*       gap: $spacing-24; */
/*       justify-content: center; */
/*     } */
/**/
/*     &__option { */
/*       &--pro { */
/*         padding: $spacing-24; */
/*       } */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-tablets) { */
/*   .pricing { */
/*     margin: 0 auto $spacing-80; */
/*     padding: 0 $spacing-32; */
/*     gap: 4rem; */
/*     align-items: stretch; */
/**/
/*     &__options { */
/*       grid-template-columns: repeat(2, 1fr); */
/*       gap: $spacing-24; */
/*       justify-content: center; */
/*     } */
/**/
/*     &__option { */
/*       &--starter, */
/*       &--pro, */
/*       &--enterprise { */
/*         padding: $spacing-24; */
/*       } */
/**/
/*       &:nth-child(2) { */
/*         &::after { */
/*           @include blur-effect(57%, -107%); */
/*         } */
/*       } */
/*     } */
/*   } */
/* } */
/* .review { */
/*     @extend %flexbox-style; */
/**/
/*     max-width: 97rem; */
/*     margin: 0 auto 12rem; */
/*     flex-direction: column; */
/*     gap: $spacing-32; */
/**/
/*     &__description { */
/*         @extend %text-preset-3; */
/**/
/*         color: $color-neutral-900; */
/*         text-align: center; */
/*     } */
/**/
/*     &__author { */
/*         @extend %text-preset-5; */
/**/
/*         color: $color-neutral-700; */
/*     } */
/* } */
/**/
/* @include respond-to($breakpoint-small-mobiles) { */
/*     .review { */
/*         margin: $spacing-64 auto; */
/*         padding: 0 $spacing-16; */
/*         align-items: baseline; */
/**/
/*         &__description { */
/*             text-align: left; */
/*             font-size: 2.4rem; */
/*         } */
/*     } */
/* } */
/**/
/**/
/* @include respond-to($breakpoint-large-mobiles) { */
/*     .review { */
/*         padding: 0 $spacing-32; */
/*         align-items: baseline; */
/**/
/*         &__description { */
/*             text-align: left; */
/*             font-size: 3.2rem; */
/*             line-height: 1.1; */
/*         } */
/*     } */
/* } */
/**/
/**/
/* //* HACK tablets (768px ~ 1024px) */
/* @include respond-to($breakpoint-tablets) { */
/*     .review { */
/*         padding: 0 $spacing-32; */
/*         align-items: baseline; */
/**/
/*         &__description { */
/*             text-align: left; */
/*         } */
/*     } */
/* } */
/* .footer { */
/*   max-width: 144rem; */
/*   margin: 0 auto; */
/*   background-color: $color-neutral-900; */
/*   background-image: url("../assets/images/pattern-dark-bg.svg"); */
/*   padding: $spacing-80 13.5rem 0; */
/*   border-top-left-radius: $border-radius-12; */
/*   border-top-right-radius: $border-radius-12; */
/**/
/*   &__content { */
/*     margin-bottom: $spacing-64; */
/*   } */
/**/
/*   &__header { */
/*     @extend %flexbox-style; */
/**/
/*     flex-direction: column; */
/*     gap: 4rem; */
/*   } */
/**/
/*   &__title { */
/*     @extend %text-preset-2; */
/**/
/*     color: $color-neutral-100; */
/*     text-align: center; */
/*     max-width: 75.3rem; */
/*   } */
/**/
/*   &__btn { */
/*     margin-bottom: $spacing-24; */
/*   } */
/**/
/*   &__review { */
/*     @extend %flexbox-style; */
/**/
/*     gap: $spacing-12; */
/**/
/*     &-avatar { */
/*       width: 11rem; */
/*       height: auto; */
/*     } */
/**/
/*     &-info { */
/*       img { */
/*         margin-bottom: $spacing-4; */
/*       } */
/**/
/*       p { */
/*         @extend %text-preset-7; */
/**/
/*         color: $color-neutral-100; */
/*       } */
/*     } */
/*   } */
/**/
/*   hr { */
/*     width: 100%; */
/*     border: 1px solid $color-neutral-700; */
/*   } */
/**/
/*   &__copyright { */
/*     @extend %flexbox-style; */
/**/
/*     justify-content: space-between; */
/*     align-items: center; */
/*     padding: $spacing-24 0; */
/**/
/*     &-author { */
/*       @extend %text-preset-7; */
/**/
/*       color: $color-neutral-100; */
/*     } */
/**/
/*     &-links { */
/*       @extend %flexbox-style; */
/**/
/*       gap: $spacing-24; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-small-mobiles) { */
/*   .footer { */
/*     padding: $spacing-48 $spacing-16 0; */
/**/
/*     &__title { */
/*       font-size: 3.4rem; */
/*     } */
/**/
/*     &__btn { */
/*       font-size: calc(1.2rem + 0.2vw); */
/*     } */
/**/
/*     &__copyright { */
/*       flex-direction: column; */
/*       padding: $spacing-24 $spacing-32; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-large-mobiles) { */
/*   .footer { */
/*     padding: $spacing-48 $spacing-24 0; */
/**/
/*     &__title { */
/*       font-size: 4.2rem; */
/*     } */
/*   } */
/* } */
/**/
/* @include respond-to($breakpoint-tablets) { */
/*   .footer { */
/*     padding: $spacing-64 $spacing-32 0; */
/*   } */
/* } */

/*# sourceMappingURL=main.css.map */
